<div id='new_recipe'>

  <form method='POST' action='/recipes'>

    <p>Name: <input type='text', name='name'></p>
    <p>Ingridients: <input type='text' name='ingredients'></p>
    <p>Cook Timme: <input type='text' name='cook_time'></p>


    <input type='submit' id='submit' value='submit'>

  </form>

</div>
