<h1>New Recipe</h1>

 <form action="/recipe" method='POST'>
 Recipe name: <input type="text" name="name" placeholder="Enter Name"><br>
 Recipe ingredients: <input type="text" name="ingredients" placeholder="Enter ingredients"><br>
 Recipe cooking time: <input type="number" name="cook_time" placeholder="Cook time"> min <br>
 <input type="submit" value='Create Recipe'>
 </form>